<div class="pb-5">
  <div class='top-container container pb-5'>
    <div class="row">
      <div class='d-flex justify-content-between'>
        <div class=" balloon border border-5 rounded-pill fs-4">言いたいことがありすぎて<br>まとまらない</div>
        <div class="balloon border border-5 rounded-pill fs-4">よく相手から「何が言いたいの？」<br>と言われてしまう</div>
        <div class="balloon border border-5 rounded-pill fs-4">毎回話すことを整理してまとめるのが面倒</div>
      </div>
      <div>
        <h1 class="mt-4 mb-5 fw-bold text-secondary text-center">伝えたいことが空回りしてしまう、そんなあなたへ</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-4 mx-auto">
      <div class="col">
        <h2 class='fw-bold text-center'>OneMinuteTalkは話したいことを整理し、1分間で相手に伝わるように効果的に話すためのアプリです。</h2>
      </div>
    </div>
    <div class="row gap-4 mx-auto justify-content-center bg-secondary-subtle py-4">
      <h2 class="text-center text-muted fw-semibold">使い方</h2>
      <div class="col-sm-5 bg-body shadow rounded">
        <h3 class='text-center mt-3'>メモ作成</h3>
        <p>ユーザーは4つの項目を入力することで、自分の考えを整理できます。<br>登録したメモはブックマークでき、ミーティング前などいつでも内容を振り返ることが可能です。</p>
        <div class="text-center"><%= image_tag 'memo_index', style: 'width: 100%; height: auto;', alt: '作成したメモの画面', loading: "lazy" %></div>
      </div>
      <div class="col-sm-5 bg-body shadow rounded">
        <h3 class='text-center mt-3'>自分の考えを視覚化できる</h3>
        <p>ピラミッドストラクチャーを使って情報を視覚化できます。<br>また、作成したピラミッドストラクチャーは編集することができます。</p>
        <details class="accordion py-1">
          <summary>ピラミッドストラクチャーとは?</summary>
          <div class='text-center'><%= image_tag 'pyramid_structure', size: '300x200', alt: 'ピラミッドストラクチャー図', loading: "lazy" %></div>
          <p>ピラミッドストラクチャーとは、ロジカルシンキングの一つで、主にコミュニケーションが目的のフレームワークです。<br>
          ピラミッド上に主張と根拠を並べていくため、ピラミッドストラクチャーとよばれています。</p>
        </details>
      </div>
      <div class="col-sm-5 bg-body shadow rounded">
        <h3 class='text-center mt-3'>例文を自動生成</h3>
        <p>作成したメモの内容から1分以内で話すための例文が自動的に生成されます。<br>また、作成された例文は編集することができます。</p>
        <div class="text-center">
          <%= image_tag 'memo_create', style: 'width: 100%; height: auto;', alt: '例文作成画面', loading: "lazy" %>
        </div>
        <div class="text-center fs-1 text-danger my-3"><i class="bi bi-arrow-down-square-fill"></i></div>
        <div class="text-center">
          <%= image_tag 'example', style: 'width: 100%; height: auto;', alt: '作成された例文画面', loading: "lazy" %>
        </div>
      </div>
      <div class="col-sm-5 bg-body shadow rounded">
        <h3 class='text-center mt-3'>リマインダー機能</h3>
        <p>予定日を設定すると、その予定の前日の午前9時に、登録されたメールアドレス宛にリマインダーメールが自動的に送信されます。</p>
        <div class="text-center">
          <%= image_tag 'reminder_mail', style: 'width: 100%; height: auto;', alt: 'リマインダーメール画面', loading: "lazy" %>
        </div>
        <p>さらに、リマインダーに登録したメモは、スケジュールカレンダーでいつでも簡単に確認できます。</p>
        <div class="text-center">
          <%= image_tag 'calendar', style: 'width: 100%; height: auto;', alt: 'スケジュールカレンダー', loading: "lazy" %>
        </div>
      </div>
    </div>
  </div>
</div>