<div class="container">
  <div class="row">
    <div class="col-5 mx-auto w-75 bg-secondary-subtle mt-5 pb-3">
      <h1 class="text-center py-3"><%= t('.title') %></h1>
      <div>以下のフォームに入力したメールアドレスにパスワードリセット用URLが記載されたメールを送信します。</div>
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="form-group py-4">
          <%= f.label :email, User.human_attribute_name(:email) %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="text-center py-2">
          <%= f.submit t('.send_email'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>