<div class="memo-container py-3">
  <div class="thinking-balloon mx-auto text-center">
    <div class="mx-auto">
      <div class="mb-5">
        <h4>あなたが書き出した理由の中から特に伝えたいことを3つまで選んでみましょう</h4>
      </div>
      <%= form_with url: explanations_basis_path, data: { turbo: false } do |f| %>
        <div class="mb-3">
          <h4 class="fw-bold">伝えたいこと</h4>
          <div class="my-3">
            <%= f.text_field :title, id: 'title-form', class: 'form-control w-75 mx-auto', value: @title %>
          </div>
        </div>
        <div class="my-5">
          <h4 class="fw-bold">伝えたい理由</h4>
          <div class="container mx-auto">
            <% @elements.each do |key, value| %>
              <div class="row justify-content-center my-3 me-5">
                <div class="col-1">
                  <%= f.check_box "checkbox_#{key}", class: "element-checkbox mt-2 me-2", style: 'transform: scale(2);' %>
                </div>
                <div class="col-11 w-75">
                  <%= f.text_field "element_#{key}", class: 'form-control', value: value %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <button type="button" onclick="javascript:history.back();" class="back-button shadow mb-5">戻る</button>
        <%= f.submit t('defaults.next'), class:"next-button text-white shadow mb-5" %>
      <% end %>
    </div>
  </div>
  <%= image_tag 'thinker', class: "thinker", loading=: "lazy" %>
</div>