<div class="row py-3 mt-4">
  <div class='col-10 text-center'>
    <h3 class='yellow-marker'><%= selected_memo.title %></h3>
  </div>
  <div class='col-2'>
    <%= link_to edit_memo_path(selected_memo), class: "text-decoration-none align-text-top me-1" do %>
      <i class="blue-marker bi bi-pencil"><%= t('defaults.edit') %></i>
    <% end %>
    <%= link_to memo_path(selected_memo), class: "text-decoration-none align-text-top", data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } do %>
      <i class="red-marker bi bi-trash3 text-danger"><%= t('defaults.delete') %></i>
    <% end %>
  </div>
</div>
<!-- ピラミッドストラクチャー -->
<% if selected_memo.explanations.size == 1 %>
  <%= render 'memos/selected_memo/one_explanation', selected_memo: selected_memo %>
<% elsif selected_memo.explanations.size == 2 %>
  <%= render 'memos/selected_memo/two_explanations', selected_memo: selected_memo %>
<% else %>
  <%= render 'memos/selected_memo/three_explanations', selected_memo: selected_memo %>
<% end %>
<!-- 例文 -->
<div class="row mx-auto pt-5">
  <div class="col-sm-9">
    <%= form_with model: selected_memo.example, local: true, data: { turbo: false } do |f| %>
      <h3 class="yellow-marker">例文</h3>
      <%= f.text_area :sentence, id: "sentence-form", class: 'form-control border border-4 border-warning', value: @example_sentence, rows: 7 %>
      <div class="text-center mt-2"><%= f.submit t('defaults.save_sentence'), class: "btn btn-primary" %></div>
    <% end %>
  </div>
  <div class="border border-4 border-warning col-sm-3 text-center mt-3 mb-5">
    <div class="yellow-marker my-3">文字数　<span id="sentence-counter"><%= @example_length %></span></div>
    <div class="border border-secondary w-100"></div>
    <div class="yellow-marker my-3">読むために必要な時間　約<span id="speaking-time"><%= @speaking_time %></span>秒</div>
    <div class="border border-secondary w-100"></div>
    <h4 id="timer" class="mt-3">00:00.00</h4>
    <div class="my-3">
      <button type="button" id="start-time" class="btn btn-success me-2">Start</button>
      <button type="button" id="stop-time" class="btn btn-danger me-2">Stop</button>
      <button type="button" id="reset-time" class="btn btn-secondary">Reset</button>
    <div>  </div>
</div>
