<p>こんにちは<%= @event.user.name %>様</p>

<p>明日は以下の予定がありますので、お知らせいたします。</p>

<h3><%= @event.memo.title %></h3>

<h4>例文</h4>
<p><%= @event.memo.example.sentence %></p>

<p>
  <span>●開始予定日時：<%= @event.start_time.strftime('%Y/%m/%d %H:%M') %></span>
</p>

<p>
  <%= link_to '詳細を確認する', memo_url(@event.memo.id) %>
</p>