<header>
  <nav class="navbar navbar-expand-lg bg-body-secondary py-2 d-flex justify-content-between">
    <%= render 'memos/slidebar/slidebar', memos: @memos %>
    <%= link_to 'OneMinuteTalk', root_path, class: "navbar-brand fw-medium ms-2" %>
    <div class="d-flex">
    <%= link_to t('defaults.index_memo'), memos_path, class: "btn me-1 d-none d-sm-block" %>
    <button type="button" id="open" class="btn me-2"><%= t('defaults.mypage') %></button>
    </div>
  </nav>
  <%= render 'shared/mypage' %>
</header>