<header>
  <nav class="navbar navbar-expand-lg bg-body-secondary py-2 d-flex justify-content-between">
    <div class="d-flex">
      <%= render 'memos/slidebar/slidebar', memos: @memos %>
      <%= link_to 'OneMinuteTalk', memos_path, class: "navbar-brand ms-1 mt-1 fw-medium" %>
    </div>
    <div class="d-flex">
      <%= link_to t('defaults.index_memo'), memos_path, class: "btn btn-link text-decoration-none text-dark" %>
      <button type="button" id="open" class="btn btn-link text-decoration-none text-dark"><%= t('defaults.mypage') %></button>
    </div>
  </nav>
  <%= render 'shared/mypage' %>
</header>