<div class="row py-2">
  <div class='col-10'>
    <h2 class='text-center'><%= selected_memo.title %></h2>
  </div>
  <div class='col-2'>
    <%= link_to "#", class: "text-decoration-none align-text-top me-1" do %>
      <i class="bi bi-pencil">編集</i>
    <% end %>
    <%= link_to memo_path(selected_memo), class: "text-decoration-none align-text-top", data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } do %>
      <i class="bi bi-trash3 text-danger">削除</i>
    <% end %>
  </div>
</div>
<!-- ピラミッドストラクチャー -->
<div class='row justify-content-around mx-auto'>
  <div class='col-lg-12 container-fluid text-center border border-warning py-2'>
    <div class="row justify-content-center me-5">
      <div class="rounded-pill bg-secondary col-2">
        <h4>主張</h4>
      </div>
    </div>
    <div class="row ps-4">
      <div class="col-10 border mt-3"><%= selected_memo.title %></div>
    </div>
    <div class="row">
      <div class="col-4">
        <i class="bi bi-arrow-down-left h2"></i>
      </div>
      <div class="col-2">
        <i class="bi bi-arrow-down h2"></i>
      </div>
      <div class="col-5">
        <i class="bi bi-arrow-down-right h2"></i>
      </div>
    </div>
    <div class="row text-center mx-auto justify-content-around">
      <% selected_memo.explanations.each do |explanation| %>
        <div class="border col-3"><%= explanation[:element] %></div>
      <% end %>
      <div class="rounded-pill bg-secondary col-1 p-1">
        <h4>要素</h4>
      </div>
      <div class="row">
        <div class="col-3">
          <i class="bi bi-arrow-down h2"></i>
        </div>
        <div class="col-4">
          <i class="bi bi-arrow-down h2"></i>
        </div>
        <div class="col-4">
          <i class="bi bi-arrow-down h2"></i>
        </div>
      </div>
    </div>
    <div class="row text-center mx-auto pb-2 justify-content-around">
      <% selected_memo.explanations.each do |explanation| %>
        <div class="border col-3"><%= explanation[:basis] %></div>
      <% end %>
      <div class="rounded-pill bg-secondary col-1 p-1">
        <h4>根拠</h4>
      </div>
    </div>
  </div>
</div>
<!-- 画像 -->
<div class="row mx-auto pt-5">
  <h4>画像</h4>
  <div>画像を表示</div>
</div>
<!-- 例文 -->
<div class="row gap-3 mx-auto pt-5">
  <h4>例文</h4>
  <div class='col-9 border border-primary'>テキスト</div>
  <button type="button" id="open" class="btn btn-primary col-2">例文を編集</button>
</div>