<div class="memo-container py-3">
  <div class="thinking-balloon mx-auto text-center">
    <div class="mx-auto">
      <%= form_with model: @register_memo_form, url: memo_path(@memo), local: true, data: { "turbo-method": :post } do |f| %>
        <div class="row">
          <h4 class="fw-bold">伝えたいこと</h4>
          <%= f.text_area :title, id: 'title-form', class: 'form-control w-75 mx-auto mt-3', value: @title %>
        </div>
        <div class="row mt-5">
          <h4 class="fw-bold col-6">伝えたい理由</h4>
          <h4 class="fw-bold col-6">なぜ伝えたいのか</h4>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-5">例：人員削減になる</div>
          <div class="col-1 mt-1"><i class="bi bi-arrow-right"></i></div>
          <div class="col-5">例：AIを導入することで、社員の残業時間が1時間減ることが期待される</div>
        </div>
          <div class="row justify-content-center mx-auto mt-3">
            <div class="col-5">
              <%= f.text_area :element_0, class: 'form-control mx-auto', value: @elements[0] %>
            </div>
            <div class="col-1 mt-3"><i class="bi bi-arrow-right"></i></div>
            <div class="col-5">
              <%= f.text_area :basis_0, class: 'form-control mx-auto', value: @basises[0] %>
            </div>
          </div>
          <div class="row justify-content-center mx-auto mt-3">
            <div class="col-5">
              <%= f.text_area :element_1, class: 'form-control mx-auto', value: @elements[1] %>
            </div>
            <div class="col-1 mt-3"><i class="bi bi-arrow-right"></i></div>
            <div class="col-5">
              <%= f.text_area :basis_1, class: 'form-control mx-auto', value: @basises[1] %>
            </div>
          </div>
          <div class="row justify-content-center mx-auto mt-3">
            <div class="col-5">
              <%= f.text_area :element_2, class: 'form-control mx-auto', value: @elements[2] %>
            </div>
            <div class="col-1 mt-3"><i class="bi bi-arrow-right"></i></div>
            <div class="col-5">
              <%= f.text_area :basis_2, class: 'form-control mx-auto', value: @basises[2] %>
            </div>
          </div>
        <%= f.submit "例文を作成する", class: "example-button text-white shadow mb-5" %>
      <% end %>  
      <div class="loading-wrap">
        <%= image_tag "/assets/loading" %>
        <p class="fw-bold">作成中</p>
      </div>
    </div>
  </div>
  <%= image_tag 'thinker', class: "thinker" %>
</div>