<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 d-none d-sm-block border bg-body-tertiary">
      <div class='h-100'>
        <ul class='menu-list list-group list-group-flush'>
          <div class="text-center py-4">
            <%= link_to '新規作成', new_memo_path, class: "sign_in btn btn-secondary" %>
          </div>
          <div class="border border-secondary w-100"></div>
          <h4 class="py-3 mx-auto">ブックマーク済みのメモ</h4>
          <% if @bookmark_memos.present? %>
            <% @bookmark_memos.each do |bookmark_memo| %>
              <div class="list-group-item bg-body-tertiary w-100 d-flex justify-content-between">
                <%= link_to bookmark_memo.title, memo_path(bookmark_memo), class: "text-dark text-decoration-none" %>
                <%= render 'bookmark_button', memo: bookmark_memo %>
              </div>
            <% end %>
          <% else %>
            <p class="mx-auto">ブックマーク済みのメモはありません</p>
          <% end %>
          <div class="border border-secondary w-100"></div>
          <h4 class="py-3 text-center">全てのメモ</h4>
          <% if @memos.present? %>
            <% @memos.each do |memo| %>
              <div class="list-group-item bg-body-tertiary w-100 d-flex justify-content-between">
                <%= link_to memo.title, memo_path(memo), class: "text-dark text-decoration-none" %>
                <%= render 'bookmark_button', memo: memo %>
              </div>
            <% end %>
          <% else %>
            <p>作成済みのメモはありません</p>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container-fluid bg-info col-sm-9" style="height: 100vh;">
      <% if @selected_memo.present? %>
        <%= render 'memos/selected_memo', selected_memo: @selected_memo, element_basis: @element_basis %>
      <% else %>
        <h2 class="text-center mt-5">メモを選択してください</h2>
      <% end %>
    </div>
  </div>
</div>