<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= favicon_link_tag('one_minute.ico') %>
    <title>OneMinuteTalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css" integrity="sha384-fFxL8wXRpg9gVqGpY+URMtLr3fLL0WBbo4NBQ+IWwMDYjIjI5VQ46XlJm5+BUlXJ" crossorigin="anonymous">
    <%= javascript_importmap_tags %>

    <%= display_meta_tags(default_mata_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YPFNJKW8TF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YPFNJKW8TF');
    </script>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'shared/after_login_header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="min-vh-100">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
